#overlayer {
	width:100%;
	height: 100%;
	position: fixed;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	z-index: 2;
	background:#000;
  }
  #overlayer1 {
	width:100%;
	height: 100%;
	position: absolute;;
	  top: 50%;
	  left: 0;
	  right: 0;
	  bottom: 0;
	background:#000;
  }
  
  
  .preloader {
	animation: tiltSpin 8s linear infinite;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 10em;
	height: 10em;
	color: #3df1f1;
  }
  
  .preloader, .preloader__ring {
	transform-style: preserve-3d;
  }
  
  .preloader__ring {
	animation-name: spin;
	animation-duration: 3s;
	animation-timing-function: inherit;
	animation-iteration-count: inherit;
	font-size: 2em;
	position: relative;
	height: 3rem;
	width: 1.5rem;
  }
  
  .preloader__ring:nth-child(even) {
	animation-direction: reverse;
  }
  
  .preloader__sector {
	font-weight: 500;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	transform: translateZ(7rem);
  }
  
  .preloader__sector, .preloader__sector:empty:before {
	display: inline-block;
	width: 100%;
	height: 100%;
  }
  
  .preloader__sector:empty:before {
	background: linear-gradient(transparent 45%, currentColor 45% 55%, transparent 55%);
	content: "";
  }
  
  .preloader__sector:nth-child(2) {
	transform: rotateY(12deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(3) {
	transform: rotateY(24deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(4) {
	transform: rotateY(36deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(5) {
	transform: rotateY(48deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(6) {
	transform: rotateY(60deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(7) {
	transform: rotateY(72deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(8) {
	transform: rotateY(84deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(9) {
	transform: rotateY(96deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(10) {
	transform: rotateY(108deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(11) {
	transform: rotateY(120deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(12) {
	transform: rotateY(132deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(13) {
	transform: rotateY(144deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(14) {
	transform: rotateY(156deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(15) {
	transform: rotateY(168deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(16) {
	transform: rotateY(180deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(17) {
	transform: rotateY(192deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(18) {
	transform: rotateY(204deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(19) {
	transform: rotateY(216deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(20) {
	transform: rotateY(228deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(21) {
	transform: rotateY(240deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(22) {
	transform: rotateY(252deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(23) {
	transform: rotateY(264deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(24) {
	transform: rotateY(276deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(25) {
	transform: rotateY(288deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(26) {
	transform: rotateY(300deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(27) {
	transform: rotateY(312deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(28) {
	transform: rotateY(324deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(29) {
	transform: rotateY(336deg) translateZ(7rem);
  }
  
  .preloader__sector:nth-child(30) {
	transform: rotateY(348deg) translateZ(7rem);
  }
  
  /* Animations */
  @keyframes tiltSpin {
	from {
		transform: rotateY(0) rotateX(30deg);
	}
	to {
		transform: rotateY(1turn) rotateX(30deg);
	}
  }
  
  @keyframes spin {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(1turn);
	}
  }
  
  
  /* Animations */
  @keyframes tiltSpin {
	from {
		transform: rotateY(0) rotateX(30deg);
	}
	to {
		transform: rotateY(1turn) rotateX(30deg);
	}
  }
  
  @keyframes spin {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(1turn);
	}
  }

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #4CAF50;
	color: white;
  }
  



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

body {
	background-image: url("https://th.bing.com/th/id/OIP.q25WikUFGxbe3PaJdvnK-QHaEo?pid=Api&rs=1");
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 110vh;
	margin: -20px 0 50px;
}


.form-register {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;

	font: bold 14px sans-serif;
	text-align: center;
}

.form-register-with-email {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 130px;
	text-align: center;
}

.form-register-with-email .form-white-background {
	width: 570px;
	box-sizing: border-box;
	background-color: #ffffff;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
	padding: 60px 80px;
	margin-bottom: 35px;
}

.form-register-with-email .form-row {
	text-align: left;
	margin-bottom: 23px;
}

.form-register-with-email .form-title-row {
	text-align: center;
	margin-bottom: 50px;
}

.form-register-with-email h1 {
	display: inline-block;
	box-sizing: border-box;
	color: #4c565e;
	font-size: 24px;
	padding: 0 20px 15px;
	border-bottom: 2px solid #6caee0;
	margin: 0;
}

.form-register-with-email .form-row>label span {
	display: inline-block;
	box-sizing: border-box;
	color: #5f5f5f;
	width: 125px;
	text-align: right;
	padding-right: 25px;
}

.form-register-with-email input {
	color: #5f5f5f;
	box-sizing: border-box;
	width: 230px;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 12px 18px;
	border: 1px solid #dbdbdb;
}

.form-register-with-email .form-checkbox input {
	margin-left: 128px;
	margin-right: 10px;
	width: auto;
	vertical-align: top;
}

.form-register-with-email .form-row .form-checkbox span {
	font-size: 12px;
	font-weight: normal;
	display: inline-block;
	text-align: left;
	width: 220px;
	margin: 0;
}

.form-register-with-email .form-checkbox span a {
	text-decoration: none;
	color: #6caee0;
}

.form-register-with-email button {
	display: block;
	border-radius: 2px;
	background-color: #6caee0;
	color: #ffffff;
	font-weight: bold;
	box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
	padding: 15px 35px;
	border: 0;
	margin: 55px auto 0;
	cursor: pointer;
}

.form-register-with-email .form-log-in-with-existing {
	text-decoration: none;
	padding: 4px 8px;
	font-weight: normal;
	color: #7b9d62;
	background-color: #d6f0c3;
}



.form-sign-in-with-social {
	display: inline-block;
	max-width: 25%;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
}

.form-sign-in-with-social .form-title {
	box-sizing: border-box;
	color: #4c565e;
	font-size: 24px;
	padding: 15px 20px;
	border-bottom: 2px solid #6caee0;
}


/*	Making the form responsive. Remove these media queries
    if you don't need the form to work on mobile devices. */

@media (max-width: 900px) {

	.form-register {
		margin: 20px auto;
	}

	.form-register-with-email {
		position: relative;
		display: block;
		margin: 0;
	}

	.form-register-with-email .form-white-background {
		margin: 0 auto 32px;
	}

	.form-register-with-email:after {
		bottom: -80px;
		left: 50%;
		margin-left: -25px;
	}

	.form-sign-in-with-social {
		margin-top: 105px;
	}

}

@media (max-width: 600px) {

	.form-register-with-email .form-white-background {
		width: 300px;
		padding-left: 35px;
		padding-right: 35px;
	}

	.form-register-with-email .form-row>label span {
		display: block;
		text-align: left;
		padding: 0 0 10px;
	}

	.form-register-with-email input {
		display: block;
		margin: 0 auto;
	}

	.form-register-with-email .form-checkbox input {
		display: inline-block;
		margin-left: 0;
	}

	.form-register-with-email .form-checkbox span {
		width: 200px !important;
	}

	.form-register-with-email:after {
		bottom: -80px;
		left: 50%;
		margin-left: -25px;
	}

}